* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient( 170deg, #4731D8 30% , #9d2cc4, #ca3ab2, #e656a4, #f6779d, #fc8797, #ff9895, #ffa997, #ffaf8e, #ffb786, #ffbf7e, #ffc977,#ffc8ae, #ffd6e2, #ffebfd, #fcfcfc);
  
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.limiter {
  max-width: 900px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
/* **header** */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.social-midia,
.user-image {
  width: 150px;
}
.social-midia {
  display: flex;
  align-items: center;
  position: relative;
}

.social-midia a {
  margin-right: 16px;
}

.pink-rectangle {
  position: absolute;
  width: 255.56px;
  height: 59.43px;
  left: 10px;
  top: -53.7px;
  background: #ffa3a3;
  transform: rotate(32.7deg);
}

.user-image {
  display: flex;
  justify-content: end;
}

main {
  flex: 1;
}
.Footerbuttons {
  display: flex;
  justify-content: space-evenly;
}

.Signature {
  text-align: center;
}
