* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.limiter {
  max-width: 900px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
/* **header** */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.background-1 {
  height: 900px;
  width: calc(100vw + 40px);
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: -1;
  background: linear-gradient(
    346.22deg,
    #fcfcfc 20.12%,
    #ffc977 0.4%,
    #ffa3a3 3.32%,
    #4731d8 30.87%
  );
  filter: blur(10px);

  border-radius: 4px;
}

.Hero {
  display: flex;
  flex-direction: row;
}

.heroImage {
  width: 443px;
  height: 443px;
  left: 263px;
  top: 128px;
}

.Intro {
  margin-top: 200px;
  margin-left: -70px;
}

.Title {
  z-index: 1;
  transform: rotate(-1.76deg);
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffa3a3;
}

.Paragraph {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #fcfcfc;
}

.social-midia,
.user-image {
  width: 150px;
}
.social-midia {
  display: flex;
  align-items: center;
  position: relative;
}

.social-midia a {
  margin-right: 16px;
}

.pink-rectangle {
  position: absolute;
  width: 255.56px;
  height: 59.43px;
  left: 10px;
  top: -53.7px;
  background: #ffa3a3;
  transform: rotate(32.7deg);
}

.user-image {
  display: flex;
  justify-content: end;
}

main {
  flex: 1;
}
.Footerbuttons {
  display: flex;
  justify-content: space-evenly;
}

.Signature {
  text-align: center;
}
