* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.limiter {
  max-width: 900px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}
/* **header** */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-1 {
  height: 80vh;
}

.Project-sections {
  height: 280vh;
}

.Project-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
.background-1 {
  height: 700px;
  width: calc(100vw + 200px);
  position: absolute;
  top: -124px;
  left: -70px;
  z-index: -1;

  background: linear-gradient(
    346.22deg,
    #fcfcfc -7.12%,
    #ffc977 0.4%,
    #ffa3a3 7.32%,
    #4731d8 26.87%
  );
  filter: blur(80px);
  border-radius: 4px;
}
.background-2 {
  position: absolute;
  height: 600px;
  width: calc(100vw + 200px);
  position: absolute;
  top: 2500px;
  left: -100px;
  z-index: -1;
  transform: rotate(-180deg);
  margin-bottom: -100px;

  background: linear-gradient(
    346.22deg,
    #fcfcfc -7.12%,
    #ffc977 0.4%,
    #ffa3a3 7.32%,
    #4731d8 26.87%
  );
  filter: blur(60px);
  border-radius: 4px;
}
.Hero {
  display: flex;
  flex-direction: row;
}

.heroImage {
  width: 443px;
  height: 443px;
  left: 263px;
  top: 128px;
}

.Intro {
  margin-top: 200px;
  margin-left: -70px;
}

.Title-hero {
  z-index: 1;
  transform: rotate(-1.76deg);
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #ffa3a3;
}

.Title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.Paragraph {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  color: #000000;
}

.Title-Footer {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fcfcfc;
}
.Paragraph-footer {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #fcfcfc;
  align-items: center;
  text-align: center;
  display: flex;
}

.Paragraph-hero {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #fcfcfc;
}

.Project-view {
  gap: 32px;
}

.Project-1-image {
  min-width: 483.94px;
  min-height: 458.61px;
  left: 247.53px;
  top: 0px;
}

.Project-1-image img {
  width: 100%;
  object-fit: contain;
}

button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 0px;
  gap: 8px;
  height: 56px;
  filter: drop-shadow(0px 20px 35px rgba(0, 118, 227, 0.15));
  flex: none;
  order: 4;
  flex-grow: 0;
}
.btn-primary {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #4731d8;
}

.multi-line-actions {
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.btn-primary:hover {
  color: #011336;
}

/* **ARRUMAR icon houver** */

.icon-butttom path {
  color: #011336;
}

.social-midia,
.user-image {
  width: 150px;
}
.social-midia {
  display: flex;
  align-items: center;
  position: relative;
}

.social-midia a {
  margin-right: 16px;
}

.pink-rectangle {
  position: absolute;
  width: 255.56px;
  height: 59.43px;
  left: 10px;
  top: -53.7px;
  background: #ffa3a3;
  transform: rotate(32.7deg);
}

.user-image {
  display: flex;
  justify-content: end;
}

.gallery {
  margin-top: 30px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 16px;
}

.grid img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  border-radius: 4px;
}
.grid img:hover {
  opacity: 0.8;
}

footer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}
hr.solid {
  border-top: 1px solid #fcfcfc;
}

@media screen and (max-width: 700px) {
  .Hero {
    display: flex;
    flex-direction: column;
  }

  .Intro {
    margin-top: -60px;
    margin-left: 0px;
  }
}
